---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
---

<Layout title="Welcome to My Portfolio">
  <main>
    <h1>Welcome to My Portfolio</h1>
    <p class="intro-text">Check out my latest projects and work</p>
    
    <div class="cta-buttons">
      <a href="/projects" class="cta-button">
        View All Projects
      </a>
    </div>
  </main>
</Layout>