---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
---

<Layout title="Welcome to My Portfolio">
  <main>
    <h1>Oh, hello world!</h1>
    <p class="intro-text">I am Filip. I love creating stuff that doesn't exist on my computer.</p>
    <p class="secondary-text">I am a computer science graduate and I have been a full stack web developer since 2020. I mainly use ASP.NET (C#) and Angular (typescript).</p>
    <p class="secondary-text">I am currently working as a full stack web developer at <a href="https://www.heyreach.io/" target="_blank" rel="noopener noreferrer">HeyReach</a>.</p>
    <div class="cta-buttons">
      <a href="/projects" class="cta-button">
        See What I've Been Building
      </a>
    </div>
  </main>
</Layout>