---
import Layout from '../layouts/Layout.astro';
import React from 'react';
import ProjectCard from '../components/ProjectCard';
import { projects } from '../data/projects';
import '../styles/global.css';
---

<Layout title="My Projects">
  <main>
    <h1>My Projects</h1>
    
    <div class="projects-grid">
      <React.Fragment client:load>
        {projects.map((project) => (
          <ProjectCard project={project}/>
        ))}
      </React.Fragment>
    </div>
  </main>
</Layout>
