<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Filip's Sphere</title>
	</head>
	<body>
		<nav class="navbar">
			<div class="nav-container">
				<a href="/" class="nav-logo">Hello</a>
				<div class="nav-links">
					<a href="/" class="nav-link">Home</a>
					<a href="/projects" class="nav-link">Projects</a>
				</div>
			</div>
		</nav>
		<main class="home-container">
		<slot />
		</main>
	</body>
</html>
