---
import Layout from "./Layout.astro";

const { title, shortDescription } = Astro.props;
---

<Layout title={title}>
  <article class="project-container">
    <header>
      <a href="/projects" class="back-button">← Back to Projects</a>
      <h1>{title}</h1>
      <p class="description">{shortDescription}</p>
    </header>
    
    <div class="markdown-container">
      <slot />
    </div>
  </article>
</Layout>